.laptop-wrapper-1 {
    position: relative;
    /* margin-top: 10vh; */
    width: 70vw;
    height: 70vh;
  }
  
  .rpn-story-1 {
    position: relative;
    height: 95vh;
    width: 100vw;
    /* margin-bottom: 56px; */
  }

  