  
  #container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-image: linear-gradient(to right, #434343 0%, black 100%);
  }
  
  .content {
      position: absolute;
      left: 40vw;
      top: 30vh;
      z-index: 3;
  }
  .box-1 {
    margin-top: 50px;
    position: absolute;
    width: 1100px;
    height: 300px;
    transform:  skewX(-47deg) skewY(18deg);
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  }
  
  .box-2 {
    margin-top: 10px;
    position: absolute;
    width: 1100px;
    height: 300px;
    transform: skewX(-47deg) skewY(18deg);
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  }
  
  .box-3 {
    margin-top: -30px;
    position: absolute;
    width: 1100px;
    height: 300px;
    transform: skewX(-47deg) skewY(18deg);
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  }
  
  .box-4 {
    margin-top: -70px;
    position: absolute;
    width: 1100px;
    height: 300px;
    transform: skewX(-47deg) skewY(18deg);
    background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
  }
  
  .box-5 {
    margin-top: -110px;
    position: absolute;
    width: 1100px;
    height: 300px;
    transform: skewX(-47deg) skewY(18deg);
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }
  .box-6 {
    margin-top: -150px;
    position: absolute;
    width: 1100px;
    height: 300px;
    transform: skewX(-47deg) skewY(18deg);
    background-image: linear-gradient(to right, #b60698 0%, #f53575 100%);
  }
  
  @media screen and (max-width:500px) {
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
      width: 150px;
      height: 250px;
    }
  }
  
  @media screen and (max-width:380px) {
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
      width: 100px;
      height: 180px;
    }
  }


  /* macbook */

  .laptop {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: relative;
      z-index: 10;
  }
  .css-mb {
    /* max-width: 700px; */
    height: 50vh;
    width: 50vw;
    min-width: 400px; /* Set the desired minimum width of the macbook */
    margin: 30vh auto 0; /* Align mockup to center */
  }
  
  .css-mb div {
    box-sizing: border-box !important; /* Just in case */
  }
  
  /* Center the display */
  .css-mb .mb-display-position {
    width: 88%;
    margin: 0 auto;
    
  }
  
  /* The display */
  .css-mb .mb-display {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 65.9442%;
    background: #373435;
    
    -webkit-border-top-left-radius:  3.5% 5.3075%;
        -moz-border-radius-topleft:  3.5% 5.3075%;
            border-top-left-radius:  3.5% 5.3075%;
    
    -webkit-border-top-right-radius: 3.5% 5.3075%;
        -moz-border-radius-toptight: 3.5% 5.3075%;
            border-top-right-radius: 3.5% 5.3075%;
  }
  
  /* Webcam */
  /* Browser may not render a perfect circle */
  .css-mb .mb-display:before {
    content: '';
    display: block;
    position: absolute;
    top: 3%;
    left: 50%;
    width: 1%;
    height: 1.5164%;
    margin-left: -0.5%;
    border-radius: 50%;
    background: #525252;
  }
  
  /* Glare */
  /* Browser may not render the top and right offset evenly */
  .css-mb .mb-display:after {
    content: '';
    display: none;
    position: absolute;
    right: 0.4%;
    top: 0.64%; 
    width: 62.5%;
    height: 100%;
    
    background: none; /* Hide the gradient on older browsers */
    background:    -moz-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* FF3.6+ */
    background: -webkit-linear-gradient(36deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* Chrome10+ and Safari5.1+ compute the degree differently */
    background:      -o-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* Opera 11.10+ */
    background:     -ms-linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%); /* IE10+ */
    background:         linear-gradient(55deg, rgba(0,0,0,0) 61%, rgba(255,255,255,0.05) 61%);
    
    -webkit-border-top-right-radius: 5.3075%;
        -moz-border-radius-toptight: 5.3075%;
            border-top-right-radius: 5.3075%;
  }
  
  /* Only show glare, if the class is applied */
  .css-mb.with-glare .mb-display:after { display: block; }
  
  /* Position the screen and give make it the right size, ratio 16:10 */
  .css-mb .mb-screen-position {
    position: absolute;
    top: 4.5%;
    width: 97%;
    left: 1.5%;
    height: 0;
    margin: 0;
    padding-bottom: 60.25%; /* Ratio */
  }
  
  /* Give parent (this element) a "height", so that child elements can use height: 100%;*/
  .css-mb .mb-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #4b4b4d; /* bg color if content is not big enough, or rendering is off */
  }
  
  /* Image on the screen */
  .css-mb .mb-screen img {
    max-width: 100%;
    height: auto;
  }
  
  /* Iframe on the screen */
  .css-mb .mb-screen iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  /* Macbook body */
  .css-mb .mb-body {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 2.3%;
    background: #e6e7e8;
  }
  
  /* The groove */
  .css-mb .mb-body:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 14.0740%;
    height: 0;
    padding-bottom: 1.4814%;
    margin-left: -7.037%;
    background: #a9abae;
    
    -webkit-border-bottom-left-radius:  7.0370% 50%;
        -moz-border-radius-bottomleft:  7.0370% 50%;
            border-bottom-left-radius:  7.0370% 50%;
    
    -webkit-border-bottom-right-radius: 7.0370% 50%;
        -moz-border-radius-bottomtight: 7.0370% 50%;
            border-bottom-right-radius: 7.0370% 50%;  
  }
  
  /* Macbook bottom */
  .css-mb .mb-bottom-cover {
    width: 100%;
    height: 0;
    padding-bottom: 0.7407%;
    background: #a9abae;
    
    -webkit-border-bottom-left-radius:  12% 600%;
        -moz-border-radius-bottomleft:  12% 600%;
            border-bottom-left-radius:  12% 600%;
    
    -webkit-border-bottom-right-radius: 12% 600%;
        -moz-border-radius-bottomtight: 12% 600%;
            border-bottom-right-radius: 12% 600%; 
  }

/* iphone */
.phone, 
.pad{
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    left: 0;
    top: 30vh;
    margin-top: 5vh;
}

.iphone, .ipad {
    display: block;
    /* color: #fff;
    text-align: center;
    font-family: 'SF Pro Display', Helvetica Neue, Arial, sans-serif;
    letter-spacing: -0.022em;
    font-size: 2.5vmin; 
    text-shadow: 0 0 0.5em #000;*/
    background-color: #000;
    background-size: auto 200%, cover;
    background-repeat: no-repeat, no-repeat;
    border: solid #111;
    margin-bottom: 2em;
    position: relative;
    box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #000 inset;
    transition: all 0.1s linear, line-height 0s linear;
    background-position: 50% 100%, center;
    transform-origin: bottom center;
}
/* .iphone:hover, .ipad:hover {
    color: transparent;
    text-shadow: 0 0 0em transparent;
    background-position: 50% -100%, center center;
    transition: all 0.15s linear, line-height 5s linear;
    line-height: 0vmin;
} */
.iphone {
    width: 18vh;
    height: 40vh;
    /* width: 230px;
    height: 510px; */
    /* line-height: 51.4455445545vmin; */
    margin-top: 3vh;
    border-width: 1vmin;
    border-radius: 4.0550130098vmin;
    background-image: url(https://www.apple.com/v/iphone-xs/d/images/overview/screen_display_wallpaper_iphonexs_large.jpg);
    z-index: 3;
}
.ipad {
    margin-left: 2em;
    width: 34vh;
    height: 45vh;
    /* height: 85.8vmin;
    width: 60vmin; */
    line-height: 85.8vmin;
    border-width: 1vmin;
    border-radius: 4.2857142857vmin;
    background-image: url(https://www.apple.com/v/ipad-pro/s/images/overview/retina_screen_1__csuokryyjb42_large.jpg);
    z-index: 3;
}

/* text */
.white {
  color: white;
}
.title {
  width: 100vw;
  height: 95vh;
  opacity: 1;
  display: flex;
  position: absolute;
  /* justify-content: center; 
  align-items: center; */
  left: 0;
  top: 0;
}
.title-1 {
  position: absolute;
  top: 40%;
}
.title-2-left {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 10%;
  text-align: center;
}

.title-2-right {
  position: absolute;
  width: 50%;
  top: 50%;
  right: 10%;
  text-align: center;
}
.title-1 {
  position: relative;
  top: 40%;
}
.title1 {
  width: 100vw;
  height: 95vh;
  opacity: 0;
  /* display: flex; */
  position: absolute;
  left: 0;
  top: 0vh;
  z-index: 100;
}

.left-side {
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* opacity: 0; */
  left: 100vw;
  /* display: inline-block; */
}
.right-side {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 40vw;
}
.head {
  position: absolute;
  top: 30%;
}
.cont {
  position: relative;
  top: 40%;
}
.inner-btn {
  position: relative;
  top: 5vh;
  width: 100%;
}