.laptop-wrapper-1 {
    position: relative;
    /* margin-top: 10vh; */
    width: 70vw;
    height: 70vh;
  }
  
  .rpn-story-1 {
    position: relative;
    height: 95vh;
    width: 100vw;
    /* margin-bottom: 56px; */
  }

  .other {
      position: relative;
      width: 100vw;
      height: 50vh;
  }

  .header {
      position: relative;
    }

.rpn-nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
}