/* body {
  font-family: "open sans";
  font-style: italic;
  font-weight: 300;
  background: rgba(255, 0, 0, 0.05);
  padding: 300px 0;
} */
.ecosystem-infographic-container {
  position: relative;
  width: 92vw;
  min-width: 1100px;
  max-width: 1170px;
  margin: 0 auto;
  background: white;
}
.ecosystem-infographic-wrapper {
  position: relative;
  width: 0;
  height: 0;
  padding: 29.5212765957% 50%;
}
.ecosystem-infographic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ecosystem-infographic__tradegecko {
  position: absolute;
  left: 30.2127659574%;
  top: 26.1261261261%;
  width: 25.5319148936%;
  height: 50.6306306306%;
}
.ecosystem-infographic__tradegecko-text {
  position: absolute;
  bottom: 81.8505338078%;
  right: 68.75%;
  color: #1c4561;
  transform-origin: 100% 50%;
}
.ecosystem-infographic__purchase-orders {
  position: absolute;
  left: 55.8510638298%;
  top: 6.3063063063%;
  width: 7.0212765957%;
  height: 15.3153153153%;
}
.ecosystem-infographic__purchase-orders-text {
  position: absolute;
  bottom: 0;
  left: 100%;
  color: #6c7279;
  transform-origin: 0 50%;
}
.ecosystem-infographic__arrows {
  position: absolute;
  top: 8.1081081081%;
  left: 17.5531914894%;
  width: 74.4680851064%;
  height: 88.1081081081%;
  pointer-events: none;
}
.ecosystem-infographic__payment {
  position: absolute;
  top: 29.7297297297%;
  left: 6.914893617%;
  height: 23.4234234234%;
  width: 18.085106383%;
}
.ecosystem-infographic__payment-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 38.2352941176%;
}
.ecosystem-infographic__payment-screen {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: auto;
}
.ecosystem-infographic__payment-text {
  position: absolute;
  bottom: 0;
  right: 80%;
  text-align: right;
  color: #1c4561;
  transform-origin: 100% 50%;
}
.ecosystem-infographic__accounting {
  position: absolute;
  top: 71.1711711712%;
  left: 10.4255319149%;
  width: 14.4680851064%;
  height: 18.1981981982%;
}
.ecosystem-infographic__accounting-text {
  position: absolute;
  bottom: 0;
  right: 100%;
  text-align: right;
  color: #429bce;
  transform-origin: 100% 50%;
}
.ecosystem-infographic__ecommerce {
  position: absolute;
  left: 49.8936170213%;
  top: 72.6126126126%;
  width: 14.4680851064%;
  height: 18.1981981982%;
}
.ecosystem-infographic__ecommerce-integrations {
  position: absolute;
  bottom: 37.6237623762%;
  right: 100%;
  width: 73.5294117647%;
  height: 24.7524752475%;
  transform-origin: 100% 50%;
}
.ecosystem-infographic__ecommerce-text {
  position: absolute;
  bottom: 0;
  left: 100%;
  color: #54b218;
  transform-origin: 0% 50%;
}
.ecosystem-infographic__b2b {
  position: absolute;
  left: 64.6808510638%;
  top: 58.1981981982%;
  width: 14.4680851064%;
  height: 18.1981981982%;
}
.ecosystem-infographic__b2b-text {
  position: absolute;
  bottom: 0;
  left: 100%;
  color: #a058b8;
  transform-origin: 0% 50%;
}
.ecosystem-infographic__sales-orders {
  position: absolute;
  left: 82.7659574468%;
  top: 46.6666666667%;
  width: 7.0212765957%;
  height: 15.3153153153%;
}
.ecosystem-infographic__sales-orders-text {
  position: absolute;
  bottom: 0;
  left: 100%;
  color: #6c7279;
  transform-origin: 0% 50%;
}
.ecosystem-infographic__shipping {
  position: absolute;
  left: 70.7446808511%;
  top: 18.018018018%;
  width: 11.2765957447%;
  height: 16.9369369369%;
}
.ecosystem-infographic__shipping-text {
  position: absolute;
  bottom: 16.2162162162%;
  left: 100%;
  color: #f6574d;
  transform-origin: 0% 50%;
}
.ecosystem-infographic__warehouses {
  position: absolute;
  left: 62.0212765957%;
  top: 30.6306306306%;
  width: 12.0212765957%;
  height: 16.036036036%;
}
.ecosystem-infographic__warehouses-text {
  position: absolute;
  bottom: 5.6179775281%;
  left: 86.7256637168%;
  color: #5960ce;
  transform-origin: 0% 50%;
}
.ecosystem-infographic__mobile {
  position: absolute;
  left: 51.2765957447%;
  top: 46.4864864865%;
  width: 12.1276595745%;
  height: 13.5135135135%;
}
.ecosystem-infographic__mobile-text {
  position: absolute;
  bottom: 66.6666666667%;
  left: 73.6842105263%;
  color: #1c4561;
  transform-origin: 0% 50%;
}
.ecosystem-infographic__suppliers {
  position: absolute;
  left: 36.170212766%;
  top: 3.6036036036%;
  width: 10.3191489362%;
  height: 23.7837837838%;
}
.ecosystem-infographic__suppliers-text {
  position: absolute;
  bottom: 26.5151515152%;
  left: 94.8453608247%;
  color: #968065;
  transform-origin: 0% 50%;
}
.ecosystem-infographic__man-1 {
  position: absolute;
  left: 62.2340425532%;
  top: 87.5675675676%;
  width: 2.0212765957%;
  height: 9.7297297297%;
}
.ecosystem-infographic__lady-1 {
  position: absolute;
  left: 76.8085106383%;
  top: 72.972972973%;
  width: 2.0212765957%;
  height: 9.7297297297%;
}
.ecosystem-infographic__lady-2 {
  position: absolute;
  left: 91.7021276596%;
  top: 59.0990990991%;
  width: 2.0212765957%;
  height: 9.7297297297%;
}
.ecosystem-infographic__transform {
  transform-origin: 50% 50%;
  transition-property: transform, filter, opacity;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
}
.ecosystem-infographic__transform--iso {
  transform: rotate(-30deg) skewX(-30deg) scaleY(0.86);
}
.ecosystem-infographic__transform svg {
  position: absolute;
}
.ecosystem-infographic__transform .ecosystem-infographic__transform-fade {
  padding: 10px;
  margin: 0;
  margin-bottom: -10px;
  white-space: pre;
  background: rgba(255, 255, 255, 0.8);
  transform: scaleX(0);
  transition: transform 0.1s;
  pointer-events: none;
}
.ecosystem-infographic p {
  font-size: 12.3076923077px;
  line-height: 1.4;
}
.ecosystem-infographic__transform--half p {
  font-size: 13.9130434783px;
}
.ecosystem-infographic:hover .ecosystem-infographic__transform, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform {
  opacity: 0.9;
  transition-duration: 0.1s;
}
.ecosystem-infographic:hover .ecosystem-infographic__transform:hover, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform:hover, .ecosystem-infographic:hover .ecosystem-infographic__transform.mobile-hovering, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform.mobile-hovering {
  z-index: 1;
  transform: scale(1.3);
  filter: grayscale(0);
  transition-delay: 0s;
  opacity: 1;
  transition: transform cubic-bezier(0.3, 0.01, 0.31, 0), filter ease, opacity ease;
  transition-duration: 0.1s;
}
.ecosystem-infographic:hover .ecosystem-infographic__transform:hover .ecosystem-infographic__transform-fade, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform:hover .ecosystem-infographic__transform-fade, .ecosystem-infographic:hover .ecosystem-infographic__transform.mobile-hovering .ecosystem-infographic__transform-fade, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform.mobile-hovering .ecosystem-infographic__transform-fade {
  transition-delay: 0.1s;
  transform: scaleX(1);
  pointer-events: auto;
}
.ecosystem-infographic:hover .ecosystem-infographic__transform--half:hover, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform--half:hover, .ecosystem-infographic:hover .ecosystem-infographic__transform--half.mobile-hovering, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform--half.mobile-hovering {
  transform: scale(1.15);
}
.ecosystem-infographic:hover .ecosystem-infographic__transform--iso > svg, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform--iso > svg {
  transition: filter 0.1s;
}
.ecosystem-infographic:hover .ecosystem-infographic__transform--iso:hover > svg, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform--iso:hover > svg, .ecosystem-infographic:hover .ecosystem-infographic__transform--iso.mobile-hovering > svg, .ecosystem-infographic.mobile-hovering .ecosystem-infographic__transform--iso.mobile-hovering > svg {
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
}
.svg-defs {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}
